<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>

<body class="bg-dark">
    <!-- contenedor principal -->
    <div class="container">
        <div class="row mt-5">


            <!-- primera columna -->
            <div class="col">

            </div>
            <!-- segunda columna (tarjeta inicio de sesion) -->
            <div class="col">
                <div class="card bg-primary rounded-3" style="width: 18rem;">
                    <div class="card-header">
                        <div class="rounded bg-light text-center rounded-5">INICIO DE SESION</div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <form>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Correo Electrónico</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp">
                                    <div id="emailHelp" class="form-text">no compartas tu email con otros</div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1">
                                </div>
                                <div class="ml-5">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>

                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- tercera columna -->
            <div class="col">

            </div>
        </div>
    </div>

    <link rel="stylesheet" href="../controllers/index.js">
</body>

</html>